<div class="toolbar">
                <div class="toolbar__group">
                  <label>Sorteer op</label>
                  <div class="toolbar__sort">
                    <div class="l-select"><span class="l-select__holder">Meest verkocht </span><select class="js-selectric">
                      <option value="Mr">Meest verkocht </option>
                      <option value="Dr">Meest verkocht </option>
                      <option value="Dr">Meest verkocht </option>
                      <option value="Dr">Meest verkocht </option>
                    </select></div>
                  </div>
                </div>
                <div class="toolbar__group">
                  <label>Artikelen per pagina</label>
                  <div class="toolbar__limiter">
                    <div class="l-select"><span class="l-select__holder">12 </span><select class="js-selectric">
                      <option value="Mr">12 </option>
                      <option value="Dr">11</option>
                      <option value="Dr">22</option>
                      <option value="Dr">30</option>
                    </select></div>
                  </div>
                  <div class="toolbar__switch"><a class="is-active" href="#" title="view as grid"><i>
                        <svg class="l-icon" width="24" height="24">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#th-large"></use>
                        </svg></i></a><a href="#" title="view as list"><i>
                        <svg class="l-icon" width="24" height="24">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#th-list"></use>
                        </svg></i></a></div>
                </div>
              </div>


              

<ul class="products__list">
                  <li>
                    <div class="products__holder">
                      <figure><a href="#"><img src="images/temp/product_img_01.png" alt="product"></a></figure>
                      <div class="products__utilities"><i>
                          <svg class="l-icon" width="16" height="16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#barcode"></use>
                          </svg></i><i>
                          <svg class="l-icon" width="16" height="16">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star-o"></use>
                          </svg></i></div>
                      <hr>
                      <h3 class="products__name"><a href="#">Visalys core</a></h3>
                      <h4 class="products__brand"> <span>Merk: </span><a href="#">Kettenbach</a></h4>
                      <div class="products__price">
                      <span class="products__from-price"> <span class="products__label">Van: </span><span>€ 0,00</span></span>
                      <span class="products__front-price"><span class="products__label">Voor:  </span><span>€ 0,00</span></span>
                      </div>
                      <a class="l-btn" href="#"><span>in winkelmandje </span></a>
                    </div>
                  </li>
                 
                </ul>